@for (experience of ExperienceObje ; track experience.id) {
<!-- Accordion Item -->
<div class="w-full py-2 mb-4 dark:border-1" appAccordionTrigger >
  <!-- Accordion Item 1 -->
  <details class="group rounded-lg overflow-hidden shadow-sm bg-background-dark">
    <summary class="flex items-center justify-between w-full p-5 font-bold bg-background-dark
                          hover:bg-opacity-90 transition-colors duration-150">
      <span class="font-bold text-primary font-inter">{{experience.title | translate: experience}} 
       {{ experience?.company ?? '' | translate: experience }}</span>
      <span class="font-manrope not-italic font-normal md:text-justify leading-relaxed text-left px-2">
        @if(!experience.end){
        <span
          class="font-inter">{{experience.start | translate: experience }}</span>
        }@else {
        <span class="font-inter">{{experience.start | translate: experience }} - {{experience.end  | translate: experience }}</span>
        }
      </span>
      <span class="flex items-center justify-center w-7 h-7 shrink-0 text-icon-closed-symbol-color">
        <!-- Plus Icon (visible when closed) -->
        <svg class="w-5 h-5 block group-open:hidden" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clip-rule="evenodd"></path>
        </svg>
        <!-- Minus Icon (visible when open) -->
        <span
          class="hidden group-open:flex items-center justify-center w-6 h-6 rounded-full bg-icon-open-circle-bg text-icon-open-symbol-color">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
        </span>
      </span>
    </summary>
    <div
      class="p-0 px-3 mt-4 bg-accordion-content-area-bg text-accordion-content-area-text-color bg-background-dark max-h-80 overflow-y-auto transition-all duration-300">
      <ul class="space-y-2 mt-2">
      
        @for (item of experience.tasks ; track $index) {
        <li
          class="flex items-start gap-2 bg-background-dark rounded-md px-4 py-2 text-left text-sm text-white font-inter">
          <i class="pi pi-check-circle text-green-500 mt-1"></i>
          <span class="break-words  font-mono not-italic font-normal md:text-justify leading-relaxed text-left text-muted flex-1">{{item | translate: experience}}</span>
        </li>
        }
      </ul>
    </div>
  </details>
</div>
}