 .accordion-panel {
  display: none;
}

.accordion-panel.open {
  display: block;
}

.accordion-trigger {
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: var(--color-background-dark);
  border: none;
  cursor: pointer;
}

.accordion-trigger:hover {
  background-color:var(--color-background-dark);
}